/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 /

 @import "bootstrap";

/* maincss */

body{
	font-family: 'Segoe UI', Segoe, Tahoma, Geneva, sans-serif;
	color: #505050;
	font-size:16px;
	min-width:750px;
}

.footer {
	width: 800px;
	font-size:12px;
	color:white;
	margin:0 auto;
	padding-top: 10px;
}

.footer a {
	color: lightgray;
}

.break
{
clear:both;
height: 20px;
}

b {
	font-weight: bold;
}

i {
	font-style:italic;
}


/* fit footer to bottom of the screen */

* {
margin: 0;
}

html, body {
height: 100%;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

.outer_footer, .push {
height: 4em;
}

.centre-960 {
	width: 960px;
	margin: 0px auto;
}

.clear {
clear:both;
height: 20px;
}

.menu_section {
	background-color: black;
	color:white;
	font-size: 20px;
	width: 100%;
	padding: 0px;
	padding-top: 20px;
	clear:both;
}

.section {
	width: 100%;
	padding-bottom: 20px;
	margin-top: 30px;
}

.above {
	background-color: orange;
	background-image:url('overlays/05.png');
}

.shadow {
	-webkit-box-shadow: 0px 10px 10px rgba(50, 50, 50, 0.57);
	-moz-box-shadow:    0px 10px 10px rgba(50, 50, 50, 0.57);
	box-shadow:         0px 10px 10px rgba(50, 50, 50, 0.57);
	margin-bottom: -30px;
}

.appname{
	display: block;
	float: left;
}

.menu{
	display: block;
	float: right;
	text-align: right;
}

.menu a {
text-decoration: none;
color: #8C8F7D;
margin-right: 1px;
padding:3px;
}

.menu a:hover {
  color: #2C2E22;
	background: #f0f0f0;
}

.header {
	text-align: center;
	padding-bottom: 30px;
}

.topgap {
	padding-top: 60px;
}

.tagline
{
	width: 370px;
	float: left;
	padding-right: 30px;
	text-align: justify;
}

.tagline p {
	font-size: 18px;
}

.tagline li {
	font-size: 18px;
}

.video
{
	width: 560px;
	float: left;
}


.summary
{
}

.images-left img{
	float: left;
	margin-right: 20px;
}

.images-right img{
	float: right;
	margin-left: 20px;
}


.tagline ul
{
	list-style-type: none;
	padding: 0;
	padding-top: 10px;
	margin: 0;
}

.tagline li {
	padding-left: 50px;
	background-image:url('globulation_2.png');
	background-repeat:no-repeat;
	background-position: 20px 2px;
	height: 30px;
}



.features
{
	padding-top:10px;
	padding-bottom:40px;
}

.feature {
	float: left; 
	width: 220px;
	height: 120px;
	margin-top: 10px;
	padding-right: 20px;
	padding-left: 60px;
	margin-bottom:20px;
	background-repeat:no-repeat;
	background-position: 5px 10px;
	border-left: 2px dotted;
	border-color: #aaaaaa;
}

.mail {
	background-image:url('emblem-mail.png');
}

.on-shadow {
	margin: -10px 0px;
	margin-bottom: -30px;
}

.signup {
	font-size: 36px;
	font-family: 'Droid Serif', serif;
	width: 100%;
	text-align: center;
	}

.signup .btn
{
	font-size: 24px;
	font-family: 'Droid Serif', serif;
	width: 400px;
}


.pricing-block {
	float: left;
	width: 240px;
	margin: 5px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	height: 300px;
	background-color: white;
	border: 2px solid;
	border-color: #888888;
}

.pricing-block.best {
	margin: 5px;
	width: 270px;
	border: 2px solid;
	border-color: #444444;
	height: 340px;
	-webkit-box-shadow: 0px 4px 30px rgba(50, 50, 50, 0.57);
	-moz-box-shadow:    0px 4px 30px rgba(50, 50, 50, 0.57);
	box-shadow:         0px 4px 30px rgba(50, 50, 50, 0.57);}

.invite
{

}

.slideshow
{

}

.pricing
{

}

.footer
{

}

