$baseFontSize: 16px;
$baseFontFamily: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
$navbarBackground: #d87406;
$navbarBackgroundHighlight: #f89406; 
$navbarLinkColor: #ffffff;
$navbarLinkColorHover: #000;

@import "bootstrap";
