<script type="text/javascript" language="javascript" src="carouFredSel-5.6.1/jquery.carouFredSel-5.6.1.js"></script>

<script>
    $(function() {
        $('#gallery').carouFredSel();
    });
</script>

<div class="list_carousel">
    <ul id="gallery">
        <li>
            <a href="/photos/image1.jpg" title="The Title">
                <img src="/photos/thumb_image1.jpg" alt="" />

            </a>
        </li>

        <li>
            <a href="/photos/image2.jpg" title="The Title">
               <img src="/photos/thumb_image2.jpg" alt="" />
            </a>
        </li>

        <li>
            <a href="/photos/image3.jpg" title="The Title">

                <img src="/photos/thumb_image3.jpg" alt="" />
            </a>
        </li>
        <li>
            <a href="/photos/image4.jpg" title="The Title">
                <img src="/photos/thumb_image4.jpg" alt="" />
            </a>
        </li>

        <li>
            <a href="/photos/image5.jpg" title="The Title">
                <img src="/photos/thumb_image5.jpg" alt="" />
            </a>
        </li>

        <li>
            <a href="/photos/image5.jpg" title="The Title">
                <img src="/photos/thumb_image5.jpg" alt="" />
            </a>
        </li>


    </ul>
</div>


