<div class="features">

  <div class="feature" style="background-image:url('/assets/emblem-favorite.png');">
    We're always here to help you. We believe in great support and happy customers. 
  </div>

  <div class="feature" style="background-image:url('/assets/emblem-urgent.png');">
    24 hours a day. Seven days a week. You can visit this page at any time, and it'll be there. 
  </div>

  
  <div class="feature" style="background-image:url('/assets/emblem-advertisement-pound.png');">
    We cost about the same as everyone else, but if you invest in the product, we'll make sure we give you a tiny discount. 
  </div>

  <div class="clear"></div>

  <div class="feature" style="background-image:url('/assets/emblem-money.png');">
    Here's a picture of a chart going upwards. Because if you use our product, we'll make sure that you make money from now, and for ever. 
  </div>

  <div class="feature" style="background-image:url('/assets/emblem-mail.png');">
    Oh my goodness me. Email, you want us to send you emails as well. This is the worst thing to happen to anyone for as long as I can remember. 
  </div>


</div>