<div id="footer">
Copyright <%= current_year %> <%= @application_name %> 
	<div id="promo"><!-- feel free to remove this bit. --> 
		A template by <a href="http://twitter.com/oceanician">oceanician</a> and <a href="http://twitter.com/seanbamforth">seanbamforth</a>.
	</div>
</div>