  <script type="text/javascript" language="javascript" src="carouFredSel-5.6.1/jquery.carouFredSel-5.6.1.js"></script>

  <script>
      $(function() {
        $("#slideshow1").carouFredSel({
          items     : 1,
          direction : "up",
          auto : {
            easing    : "linear",
            duration  : 1000,
            pauseDuration: 2000,
            pauseOnHover: true
          }
        }).find(".slide").hover(
          function() { $(this).find("div").slideDown(); },
          function() { $(this).find("div").slideUp(); }
        );

      });
  </script>

<div class="html_carousel">
  <div id="slideshow1">
    <div class="slide">
      <img src="/photos/image1.jpg" alt="carousel 1"  />
      <div>
        <h4>Infinity</h4>
        <p>A concept that in many fields refers to a quantity without bound or end.</p>
      </div>
    </div>
    <div class="slide">
      <img src="/photos/image2.jpg" alt="carousel 2"  />
      <div>
        <h4>Circular journey</h4>
        <p>An excursion in which the final destination is the same as the starting point.</p>
      </div>
    </div>
    <div class="slide">
      <img src="/photos/image3.jpg" alt="carousel 3"  />
      <div>
        <h4>jQuery</h4>
        <p>jQuery is a JavaScript library designed to simplify the client-side scripting.</p>
      </div>
    </div>
    <div class="slide">
      <img src="/photos/image4.jpg" alt="carousel 4"  />
      <div>
        <h4>Carousel</h4>
        <p>A carousel is an amusement ride consisting of a rotating circular platform with seats.</p>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

ewfiuwefhuweifh

