<div class="tagline">
	<h1>My MVP Product</h1>
	<p>All the obvious bits from landing pages, incorporated them into a generic rails gem</p>
  <ul>
    <li>Easy to use</li>
    <li>Easy to configure</li>
    <li>Tracks your signups</li>
    <li>Configurable</li>
  </ul>
</div>