

<html>

<head>
	<title><%= application_name %></title>	
</head>

<body>

<div id="container">

	<div id="menu">
	</div>

<% if including_signup? %>
	<%= render :partial => "signup", :locals => { :signup_params => signup_params } %>
<% end %> 
	

</div>

</body>

</html>
