

<html>

<head>
	<title><%= application_name %></title>	
</head>

<body>

<div class="container">

	<div class="menu"">
	</div>

<% if including_signup? %>
	<%= render :partial => "signup", :locals => { :signup_params => signup_params } %>
	<div class="signup">
		<%= link_to "signup", "/signup" %>
	</div>
<% end %> 
	

</div>

</body>

</html>
